// type icon colors
@dataset-icon-color: #4167ff;
@featurecat-icon-color: #ffa500;
@series-icon-color: #ff6f6f;
@service-icon-color: green;

// search results customization
ul.gn-resultview {

  li.gn-grid {
    min-width: 260px;

    h3 {
      a {
        font-size: 65%;
      }
    }

    .gn-md-title {
      min-height: 63px;
      max-height: 63px;
      margin-bottom: 3px;

      .gn-icon-dataset { color: @dataset-icon-color; }
      .gn-icon-featureCatalog { color: @featurecat-icon-color; }
      .gn-icon-series { color: @series-icon-color; }
      [class^="gn-icon-service"] { color: @service-icon-color; }
    }

    .gn-md-abstract {
      height: 91px;
    }

    .gn-md-relations {
      position: absolute;
      left: 127px;
      top: 200px;
      max-width: calc(~"100% - 138px");

      .btn-group {
        max-width: 100%;

        button {
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 100%;
        }
      }
    }

    .gn-md-details {
      position: absolute;
      right: 12px;
      bottom: 6px;
      max-height: 46px;
      max-width: calc(~"100% - 190px");

      p {
        max-height: 1.2em;
        text-overflow: ellipsis;
        margin: 0px;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    .gn-md-thumbnail {
      width: 100px;
      height: 128px;
      .gn-status {
        top: 122px;
      }
    }

    .gn-md-links {
      right: auto;
      left: 9px;
      bottom: 5px;
      width: 170px;
      display: flex;
      flex-direction: row;

      & > *:not(:last-child) {
        margin-right: 6px;
      }
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

  ul.gn-resultview li.gn-grid {
    width: calc(~"33.33% - 15px");
  }
}


// record view customization
.gn-md-view {
  h1 {
    font-size: 18px;
    font-weight: bold;
  }
  h2 {
    font-size: 16px;
    font-weight: bold;
  }

  .gn-icon-dataset { color: @dataset-icon-color; }
  .gn-icon-featureCatalog { color: @featurecat-icon-color; }
  .gn-icon-series { color: @series-icon-color; }
  [class^="gn-icon-service"] { color: @service-icon-color; }
}
