<ul class="nav navbar-nav">
  <li class="gn-footer-text">
    <span data-translate=""
          data-translate-values="{platform: '{{info['system/platform/name']}}', version: '{{info['system/platform/version']}}', subversion: '{{info['system/platform/subVersion']}}'}">
      versionDetails</span>
  </li>
  <li>
    <a href="mailto:Psi1.Psi.Spssi.Sg@developpement-durable.gouv.fr?Subject=[Géo-IDE Catalogue] Demande d'informations"
    target="_top" data-translate>contactUs</a>
  </li>
  <li>
    <a href="http://catalogue.geo-ide.developpement-durable.gouv.fr/doc/reglementation/mentions_legales/mentions_legales.html"
    target="_blank" data-translate>legalInfo</a>
  </li>
  <li class="gn-footer-text">
    <span>|</span>
  </li>
  <li class="gn-footer-text">
    <span>{{'copyrightLinks' | translate}}:</span>
  </li>
  <li>
    <a href="http://www.developpement-durable.gouv.fr/" target="_blank">www.developpement-durable.gouv.fr</a>
  </li>
  <li>
    <a href="http://www.territoires.gouv.fr/" target="_blank">www.territoires.gouv.fr</a>
  </li>
  <li>
    <a href="http://www.agriculture.gouv.fr/" target="_blank">www.agriculture.gouv.fr</a>
  </li>
</ul>
