<ul class="nav navbar-nav">
  <li class="gn-footer-text">
    <span>Dernière date de mise à jour: xx/xx/2017 (v{{info['system/platform/version']}})</span>
  </li>
  <li>
    <a href="mailto:Psi1.Psi.Spssi.Sg@developpement-durable.gouv.fr?Subject=[Géo-IDE Catalogue] Demande d'informations" target="_top">Contact</a>
  </li>
  <li>
    <a href="http://catalogue.geo-ide.developpement-durable.gouv.fr/doc/reglementation/mentions_legales/mentions_legales.html" target="_blank">Mentions Légales</a>
  </li>
  <li class="gn-footer-text">
    <span>|</span>
  </li>
  <li class="gn-footer-text">
    <span>Copyright:</span>
  </li>
  <li>
    <a href="http://www.developpement-durable.gouv.fr/" target="_blank">www.developpement-durable.gouv.fr</a>
  </li>
  <li>
    <a href="http://www.territoires.gouv.fr/" target="_blank">www.territoires.gouv.fr</a>
  </li>
  <li>
    <a href="http://www.agriculture.gouv.fr/" target="_blank">www.agriculture.gouv.fr</a>
  </li>
</ul>
